.contacts-block {
  margin-bottom: 150px;
}
.contacts-block__numbers {
  margin-top: 25px;
  display: flex;
}
.contacts-block__numbers_phone::before, .contacts-block__numbers_email::before {
  content: "";
  display: block;
  margin-bottom: 26px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.contacts-block__numbers_phone {
  width: 50%;
  display: block;
  margin-top: 32px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.014em;
}
.contacts-block__numbers_phone::before {
  background-image: url("../img/icon-phone.png");
}
.contacts-block__numbers_phone a {
  color: #121212;
}
.contacts-block__numbers_email {
  width: 50%;
  display: block;
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.contacts-block__numbers_email::before {
  background-image: url("../img/icon-mail.png");
  background-position: bottom;
  background-position: 50% 100%;
}
.contacts-block__numbers_email a {
  color: #121212;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1199px) {
  .contacts-block {
    margin-bottom: 120px;
  }
  .contacts-block__numbers_phone {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .contacts-block__numbers_email {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .contacts-block {
    margin-bottom: 80px;
    min-height: 227px;
  }
  .contacts-block__title {
    font-size: 14px;
    line-height: 19px;
  }
  .contacts-block__numbers {
    flex-direction: column;
  }
  .contacts-block__numbers_phone {
    min-width: 300px;
    font-size: 35px;
    line-height: 46px;
  }
  .contacts-block__numbers_numbers_email {
    font-size: 35px;
    line-height: 46px;
  }
  .contacts-block__numbers a {
    opacity: 1;
    border-bottom: 0px none;
  }
}