.gallery-block {
  margin-bottom: 157px;
  height: 717px;
}

.gallery {
  position: relative;
}
.gallery__title-wrapper {
  position: absolute;
  left: 99px;
  top: 74px;
  z-index: 100;
}
.gallery__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.gallery__controls-wrapper {
  position: absolute;
  left: 100px;
  top: 470px;
  z-index: 100;
}
.gallery__controls {
  display: flex;
}
.gallery__control-prev {
  display: flex;
  background-color: transparent;
}
.gallery__control-next {
  display: flex;
  background-color: transparent;
}
.gallery__slides {
  position: relative;
}
.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.gallery__slide_active {
  opacity: 1;
}

.box img {
  width: 100%;
}
.box__text-wrapper {
  position: absolute;
  left: 100px;
  bottom: 53px;
  z-index: 100;
}
.box__text-wrapper p {
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .gallery-block {
    width: 100%;
    margin-bottom: 120px;
    height: 536px;
  }
  .gallery__title-wrapper {
    left: 50px;
    top: 80px;
  }
  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }
  .gallery__controls-wrapper {
    top: 344px;
    left: 41px;
  }
  .box img {
    min-height: 536px;
  }
  .box__text-wrapper {
    left: 50px;
    bottom: 80px;
  }
  .box__text-wrapper p {
    width: 341px;
    font-size: 25px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .gallery-block {
    width: 100%;
    margin-bottom: 80px;
    height: 408px;
  }
  .gallery {
    height: 408px;
  }
  .gallery__title-wrapper {
    left: 12px;
    top: 61px;
  }
  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }
  .gallery__controls-wrapper {
    left: 0;
    top: 50%;
    width: 100%;
  }
  .gallery__controls {
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 5px;
  }
  .box img {
    min-height: 408px;
  }
  .box__text-wrapper {
    left: 13px;
    bottom: 60px;
  }
  .box__text-wrapper p {
    width: 287px;
    font-size: 19px;
    line-height: 26px;
  }
}