.header {
  margin-bottom: 70px;
  min-width: 1150px;
  padding-top: 33px;
}
.header__logo {
  display: inline-block;
  margin-right: 530px;
}
.header__logo img {
  display: block;
  width: 127px;
  height: 21px;
}
.header__nav {
  display: inline-block;
  vertical-align: top;
}
.header__nav_list li {
  display: inline-block;
  margin-right: 60px;
}
.header__nav_list li a {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #121212;
  text-transform: uppercase;
}
.header__nav_list li:last-child {
  margin-right: 0;
}
.header__nav_list li.header__nav_active-item {
  border-bottom: 1px solid #000000;
  opacity: 0.5;
}

.container-nav {
  width: 1150px;
  margin: 0 auto;
}