.reviews-block {
  margin-bottom: 150px;
}
.reviews-block__title {
  margin-bottom: 30px;
}
.reviews-block__row {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.reveiws-column {
  width: calc(50% - 25.5px);
}
.reveiws-column__title {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #000;
}
.reveiws-column__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000;
}
.reveiws-column__text:last-child {
  margin-bottom: 0;
}

.reveiws-column:last-child:nth-child(2n+1) {
  width: 861px;
}

@media (max-width: 1199px) {
  .reviews-block {
    margin-bottom: 120px;
    padding-left: 16px;
    padding-right: 15px;
  }
  .reviews-block__title {
    margin-bottom: 30px;
  }
  .reviews-block__row {
    margin-bottom: 80px;
  }
  .reveiws-column {
    width: calc(50% - 10px);
  }
  .reveiws-column__title {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 48px;
  }
  .reveiws-column__text {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
  }
  .reveiws-column:last-child:nth-child(2n+1) {
    width: 694px;
  }
}
@media (max-width: 767px) {
  .reviews-block {
    margin-bottom: 80px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .reviews-block__title {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 19px;
  }
  .reviews-block__row {
    flex-direction: column;
  }
  .reviews-block .reveiws-column {
    margin-bottom: 80px;
    width: 100%;
  }
  .reviews-block .reveiws-column__title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }
  .reviews-block .reveiws-column__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .reviews-block .reveiws-column:last-child {
    margin-bottom: 0;
  }
  .reviews-block .reveiws-column:last-child:nth-child(2n+1) {
    width: 100%;
  }
}