body {
	width: 100%;
	font-family: "Manrope", sans-serif;
	background-color: #f5f5f5;
}
.wrapper {
	width: 1400px;
	background-color: #ffffff;
	margin: 0 auto;
}
.conteiner {
	padding-left: 125px;
	padding-right: 125px;
}
.header-block {
	margin-bottom: 150px;
	&__title {
		margin-bottom: 30px;
		width: 985px;
		font-size: 60px;
		line-height: 60px;
		font-weight: 400;
		letter-spacing: -0.03em;
	}

	&__bg {
		width: 1150px;
		height: 500px;
		position: relative;
		background-image: url("../img/header\ bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		&_text {
			width: 430px;
			position: absolute;
			left: 40px;
			bottom: 40px;
			color: #ffffff;
			font-size: 20px;
			line-height: 27px;
			letter-spacing: -0.03em;
		}
	}
}
.description-block {
	margin-bottom: 150px;
	&__title {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
	}

	&__text {
		margin-bottom: 30px;
		width: 1048px;
		font-size: 45px;
		font-weight: 400;
		line-height: 61px;
		letter-spacing: -0.03em;
	}

	&__link {
		display: inline-block;
		padding: 20px 40px;
		text-decoration: none;
		background-color: #ad1818;
		color: #ffffff;
		font-size: 20px;
		border-radius: 5px;
	}
}
.projects-block {
	margin-bottom: 150px;
	&__title {
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: -0.03em;
	}

	&__card {
		margin-bottom: 90px;
		&_img {
			margin-bottom: 15px;
			width: 100%;
			height: 450px;
		}

		&_text {
			background-color: #ffffff;
			&_title {
				margin-bottom: 15px;
				font-size: 30px;
				font-weight: 400;
				line-height: 41px;
				letter-spacing: -0.03em;
				color: #121212;
			}

			&_link {
				font-size: 20px;
				font-weight: 400;
				line-height: 27px;
				letter-spacing: -0.03em;
				color: #ad1818;
				text-decoration: none;
			}
		}
	}
	&__footer-link {
		display: block;
		font-size: 30px;
		font-weight: 400;
		line-height: 41px;
		letter-spacing: -0.03em;
		text-align: center;
		text-decoration: none;
		color: #ad1818;
		border: 1px solid #ad1818;
		padding-top: 56px;
		padding-bottom: 56px;
		border-radius: 5px;
		&:hover {
			background-color: #ad1818;
			color: #ffffff;
		}
	}
}
.services-block {
	width: 1400px;
	margin: 0 auto;
	padding: 210px 125px 150px 125px;
	background-color: #121212;
	font-weight: 400;
	color: #ffffff;
	&__title {
		margin-bottom: 34px;
		text-transform: uppercase;
	}

	&__card {
		margin-bottom: 60px;
		&:last-child {
			margin-bottom: 0;
		}
		&_img {
			margin-bottom: 15px;
		}

		&_title {
			font-size: 30px;
			font-weight: 400;
			line-height: 41px;
			letter-spacing: -0.03em;
		}
	}
}
