.description-block {
	margin-bottom: 150px;
	&__title {
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 29px;
		width: 1048px;
		font-size: 45px;
		line-height: 61px;
		letter-spacing: -0.025em;
	}

	&__link {
		display: inline-block;
		padding: 20px 40px;
		text-decoration: none;
		background-color: #ad1818;
		color: #ffffff;
		font-size: 20px;
		line-height: 27px;
		border-radius: 5px;
		letter-spacing: -0.03em;
	}
}
@media (max-width: 1199px) {
	.description-block {
		margin-bottom: 120px;
		&__text {
			width: 690px;
			font-size: 35px;
			line-height: 48px;
		}
	}
}
@media (max-width: 767px) {
	.description-block {
		margin-bottom: 80px;
		&__title {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 19px;
		}
		&__text {
			width: 100%;
			font-size: 22px;
			line-height: 30px;
		}
		&__link {
			padding: 15px 27px;
			border-radius: 4px;
			font-size: 16px;
		}
	}
}
