.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	background-color: #121212;
	&__text {
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: -0.033em;
		opacity: 0.5;
		color: #ffffff;
	}
}
.footer-inner {
	display: flex;
	flex-direction: column;
}
.nav {
	width: 450px;
	margin: 0 auto;
	margin-bottom: 88px;
	display: flex;
	justify-content: space-between;
	&__link {
		display: block;
		padding: 10px;
		font-size: 18px;
		line-height: 25px;
		color: #ffffff;
		letter-spacing: -0.03em;
		& :hover {
			opacity: 0.5;
		}
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
