@import "nulestyle.scss"; //Подключение обнуляющих стилей

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
@import "header.scss"; //Подключение файла header.scss
@import "hero.scss"; //Подключение файла hero.scss
@import "description.scss"; //Подключение файла description.scss
@import "projects.scss"; //Подключение файла projects.scss
@import "services.scss"; //Подключение файла services.scss
@import "reviews.scss"; //Подключение файла reviews.scss
@import "gallery.scss"; //Подключение файла project-footer.scss
@import "contacts.scss"; //Подключение файла contacts.scss
.title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.055em;
  color: #121212;
}
@import "footer.scss"; //Подключение файла footer.scss
@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 17px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  body {
    background-color: #ffffff;
  }
  .container {
    padding-left: 13px;
    padding-right: 12px;
  }
}
